<h1>Vonage Video Demo/ Vonage ビデオデモ</h1>
<picture>
  <source srcset="/img/VonageLogo_Primary_White.png" media="(prefers-color-scheme:dark)">
  <img src="/img/VonageLogo_Primary_Black.png" alt="Vonage logo">
</picture>
<p>This is a demo showing a basic implementation of the <a href="https://developer.vonage.com/en/video/overview" target="_blank">Vonage Video API</a> which creates a new video call and provides the ability to invite another participant by sending them an SMS message containing a link to the video call.</p>
<p>これは、新しいビデオ通話を作成し、ビデオ通話へのリンクを含む SMS メッセージを送信して別の参加者を招待する機能を提供する Vonage Video API の基本的な実装を示すデモです</p>
<%= link_to 'Start the demo/デモを開始する', new_video_call_path, class: 'button' %>
